<div>

  <h3>Crear Celebrity</h3>

  <div>
    <form action="/celebrities/create" method="post">
      <label for="name">Name</label>
      <input type="text" name="name" placeholder="Arnold Schwarzenegger"/>
      <br />
      <label for="occupation">Occupation</label>
      <input type="text" name="occupation" placeholder="Actor"/>
      <br />
      <label for="catchPhrase">Catch Phrase</label>
      <input type="text" name="catchPhrase" placeholder="Sayonara Baby"/>
      <br />
        <button>Crear</button>
    </form>
  </div>
</div>